.navbar{
    background-color: #ffffff;
    height: 139px;
    border: 1px solid #F2F2F2;
    width: 78vw;
    max-width: 1502px;
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    padding: 22px 71px 23px 30px;
    border-radius: 0px 0px 10px 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu, .flex-row{
    display: flex;
    flex-direction: row;
}

.navbar-menu-button{
    /* font-family: Rubik; */
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #4F5665;
}

.contact-button{
    /* font-family: Rubik; */
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #B8B8B8;
    margin-right: 28px;
}

.login-button{
    /* font-family: Rubik; */
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #67D3C1;

    width: 150px;
    height: 45px;
    background: #FFFFFF;
    box-shadow: 2px 2px 10px rgba(105, 175, 164, 0.3);
    border-radius: 10px;
}