.z2{
    z-index: 2;
}

.company-page{
    padding-top: 294px;
    padding-bottom: 219px;
    position: relative;
}

.msg-box-1, .msg-box-2{
    max-width: 614px;
    margin-bottom: 51px;
}

.msg-box-1 .title,
.card .title{
    font-weight: 200;
    font-size: 50px;
    line-height: 70px;
}

.business_area-box .title{
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
}

.title{
    font-family: Noto Sans;
    font-style: normal;
    color: #0B132A;
}

.title-bold{
    font-family: Noto Sans KR;
    font-style: normal;
    color: #0B132A;
}

.business_area-box .title-bold{
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
}


.msg-box-1 .title-bold,
.msg-box-2 .title-bold,
.card .title-bold{
    font-weight: 700;
    font-size: 50px;
    line-height: 70px;
}

.see_more-button{
    background: #FEFEFE;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 10px;

    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    color: #B8B8B8;

    width: 250px;
    height: 60px;
}

.business_area-box{
    min-height: 265px;

    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    border-radius: 10px;

    padding: 0 91px 0 91px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.business_area-text{
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    color: #E5E5E5;
}

.human-head-bg{
    position: absolute;
    top: 950px;
    left: -188px;
    width: 1629px;
    height: 760px;
    z-index: -1;
}

.engine-service-button{
    background: #FFFFFF;
    box-shadow: 2px 2px 10px rgba(105, 175, 164, 0.3);
    border-radius: 10px;
    width: 354px;
    height: 86px;

    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #67D3C1;
}

.grey{
    color: #777777;
}

img.noris_engine_image{
    width: 16vw;
}

.arrow-block{
    position: absolute;
    right: -50px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.noris_engine_image-wrapper{
    margin-top: 80px;
    margin-bottom: 80px;
    
}

@media screen and (max-width: 900px){
    .see_more-button{
        margin-bottom: 50px !important;
    }
    .business-area-item{
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 50%;
    }
    .business-area-item img{
        margin: 0 !important;
    }
    .business-area-item p{
        font-size: 16px !important;
    }
    .greeting-msg-wrapper{
        margin-left: 0 !important;
    }
    .msg-box-1{
        align-self: flex-start !important;
    }
    .msg-box-1, .card .title-bold, .business_area-text{
        font-weight: 700;
        font-size: 16px;
        line-height: 23.5px;
    }
    .msg-box-2{
        margin-top: 60px !important;
    }
    .msg-box-2 .title, .content-second-wrapper p{
        font-size: 16px !important;
        line-height: 23.5px !important;
    }
    .msg-box-2 .title-bold{
        font-weight: 800;
        font-size: 16px;
        line-height: 23.5px;
    }
    .business_area-box{
        padding: 12px 5px 20px 5px;
    }
    .content-second-wrapper{
        min-height: 450px !important;
        width: 100vw !important;
        position: relative !important;
        right: 20px !important;
        border-radius: 0px !important;
        background: #fff !important;
    }
    .content-second-wrapper img{
        width: 60% !important;
        height: unset !important;
    }
    .content-third-wrapper{
        border-radius: 0px !important;
        background: #fff !important;
        margin-top: 30px !important;
        padding: 30px 20px 40px 20px !important;
        flex-wrap: nowrap !important;
    }
    .content-third-wrapper .noris_engine_image, 
    .content-third-wrapper div:not(.arrow-block), 
    .content-third-wrapper .engine-service-button{
        width: 100% !important;
    }

    .content-third-wrapper .title,
    .content-third-wrapper .title-bold{
        font-size: 16px !important;
        line-height: 23.5px !important;
    }
    .content-third-header-wrapper{
        margin-bottom: 30px !important;
    }
    .content-second-wrapper .more-text,
    .content-third-wrapper .more-text,
    .font-10 .title,
    .font-10 .title-bold,
    .font-10 p,
    .font-10{
        font-size: 10px !important;
        line-height: 15px !important;
    }
    .p-wrapper-1{
        margin-bottom: 60px !important;
    }
    .arrow-block{
        top: unset;
        bottom: -20px;
        right: 50%;
        transform: translateX(50%)  rotate(90deg);
    }
    .noris_engine_image{
        margin-bottom: 20px;
    }
}